@model Piranha.Extend.Block

@foreach (var field in Piranha.App.Blocks.GetByType(Model.GetType()).Fields)
{
    <div class="form-group">
        <label>@field.DisplayName</label>
        @Html.Editor(field.PropertyName, new { IsBlock = true })
    </div>
}