@model Piranha.Extend.Block

@foreach (var field in Model.GetFields())
{
    <div class="form-group">
        <label>@field.DisplayName</label>
        @Html.Editor(field.PropertyName, new { IsBlock = true })
    </div>
}