@page

@section topnav 
{
    <li>
        <div class="btn-group" role="group">
            <button id="btnContent" type="button" class="btn btn-sm btn-labeled btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-table"></i>Regions
            </button>
            <div class="dropdown-menu" aria-labelledby="btnContent">
                <a class="dropdown-item" href="#">Header</a>
                <a class="dropdown-item" href="#">Aside</a>
            </div>
        </div>
    </li>
    <li><button class="btn btn-sm btn-success"><i class="fas fa-check"></i></button></li>
    <li><button class="btn btn-sm btn-primary"><i class="fas fa-cog"></i></button></li>
}

<form>
    <div class="body-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="#">Content</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        <input class="title" value="Fermentum Amet Adipiscing">
        <div class="blocks">
            <!--<div class="block-add">
                <div class="block-add-inner">
                    <i class="fas fa-plus-circle"></i>
                </div>
            </div>-->
            <div class="block">
                <span class="block-label"><i class="fab fa-html5"></i>HTML</span>
                <div class="block-buttons">
                    <button class="btn btn-sm btn-secondary"><i class="fas fa-ellipsis-v"></i></button>
                    <button class="btn btn-sm btn-secondary"><i class="fas fa-trash"></i></button>
                </div>
                <div class="content-area" contenteditable="true" spellcheck="false">
                    <p>
                        Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed 
                        diam eget risus varius blandit sit amet non magna. Cum sociis natoque 
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                        Vestibulum id ligula porta felis euismod semper. Cras justo odio, 
                        dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac 
                        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa 
                        justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo.
                    </p>
                </div>
            </div>
            <div class="block">
                <span class="block-label"><i class="fas fa-image"></i>Image</span>
                <div class="block-buttons">
                    <button class="btn btn-sm btn-secondary"><i class="fas fa-ellipsis-v"></i></button>
                    <button class="btn btn-sm btn-secondary"><i class="fas fa-trash"></i></button>
                </div>
                <img src="https://images-3.gog.com/fdc6ee70ba6aee36a86086a9391fbea1ac146ff15cfef037f19ea42046ffa1ca.jpg" alt="">
            </div>
            <div class="block">
                <span class="block-label"><i class="fab fa-html5"></i>HTML</span>
                <div class="block-buttons">
                    <button class="btn btn-sm btn-secondary"><i class="fas fa-ellipsis-v"></i></button>
                    <button class="btn btn-sm btn-secondary"><i class="fas fa-trash"></i></button>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="content-area" contenteditable="true" spellcheck="false">
                            <p>
                                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="content-area" contenteditable="true" spellcheck="false">
                            <p>
                                Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-blocks">
        <a class="panel-close" href="#"><i class="fas fa-times"></i></a>
        <div class="panel-body">
            <div class="panel-handle"><i class="fas fa-ellipsis-v"></i></div>
        </div>
    </div>
    <!--<div class="panel panel-regions"></div>-->
    <div class="panel panel-media">
        <a class="panel-close" href="#"><i class="fas fa-times"></i></a>
        <span class="panel-title">Media</span>
        <div class="panel-body">
            <div class="media-gallery">
                <a href="#"><img src="/assets/img/thumb-img.jpg" class="img-thumbnail" data-container=".panel-media" data-toggle="popover" data-placement="top" data-content="8_Hyper-Light-Drifter.png"></a>
                <a href="#"><img src="/assets/img/thumb-img.jpg" class="img-thumbnail" data-container=".panel-media" data-toggle="popover" data-placement="top" data-content="3045250-hyperlightdrifter+2016-03-30+21-08-13-73.jpg"></a>
                <a href="#"><img src="/assets/img/thumb-img.jpg" class="img-thumbnail" data-container=".panel-media" data-toggle="popover" data-placement="top" data-content="HLD_Screenshot_BETA_entrance.png"></a>
                <a href="#"><img src="/assets/img/thumb-img.jpg" class="img-thumbnail" data-container=".panel-media" data-toggle="popover" data-placement="top" data-content="HLD_Screenshot_BETA_eyes.png"></a>
                <a href="#"><img src="/assets/img/thumb-img.jpg" class="img-thumbnail" data-container=".panel-media" data-toggle="popover" data-placement="top" data-content="HLD-camp-parallax.jpg"></a>
                <a href="#"><img src="/assets/img/thumb-img.jpg" class="img-thumbnail" data-container=".panel-media" data-toggle="popover" data-placement="top" data-content="HLD-foreground.png"></a>
                <a href="#"><img src="/assets/img/thumb-img.jpg" class="img-thumbnail" data-container=".panel-media" data-toggle="popover" data-placement="top" data-content="HLD-foreground.png"></a>
            </div>
        </div>
    </div>
</form>
