@import "colors";

.blocks {
    .sortable-placeholder {
        margin: 0 1rem;
        min-height: 100px;
    }

    .block-type {
        display: none;
    }
}

.block {
    position: relative;
    padding: 2rem 1rem 1rem;
    border: solid 1px transparent;
    transition: all .2s ease-in-out;

    .block-label {
        color: $text_lighter;
        position: absolute;
        top: .25rem;
        left: 1rem;
        font-size: .8rem;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity .2s ease-in-out;

        i {
            padding-right: .5rem;
        }
    }

    .block-buttons {
        position: absolute;
        top: 1px;
        right: 1px;
        opacity: 0;
        transition: opacity .2s ease-in-out;

        .btn {
            display: block;
            float: left;
            min-width: 30px;
            padding: .25rem .5rem;
            font-size: .7rem;
            border: solid 2px $bg;

            &.btn-secondary {
                background: $color_border;
                color: $text_medium;
                transition: background-color .2s ease-in-out;

                &:hover {
                    background: darken($color_border, 7%);
                    transition: background-color .2s ease-in-out;
                }
            }
        }
    }

    .content-area {
        &:focus {
            outline: none;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .editor-area {
		&.empty {
			background: $bg_panel url('/assets/img/empty-text.png') 50% 50% no-repeat;
			border: solid 10px $bg_panel;
            min-height: 106px !important;
            
			p:first-of-type {
				min-height: 86px;
			}
        }
        
        &:focus {
            outline: none;
        }        
    }

    img {
        max-width: 100%;
    }

	.block-editor {
		&.mce-edit-focus {
			outline: 0 none;
		}
    }

	.block-image {
		background: $bg_panel;
		position: relative;
		max-height: 400px;
		min-height: 200px;
		overflow: hidden;
		text-align: center;

		.block-image-picker {
			position: absolute;
			width: 90%;
			top: 50%;
			right: 5%;
			background: rgba(0,0,0,0.4);
			padding: 1.25rem;
			border-radius: 5px;
			margin-top: -40px;
			opacity: 0;
            transition: opacity ease-in-out 0.2s;
		}

		&:hover {
			.block-image-picker {
				opacity: 1;
				transition: opacity ease-in-out 0.2s;
			}
		}
    }
    
    .block-quote {
        .editor-area {
            color: $text-light;
            font-size: 1.5rem;
            font-family: "Open Sans";
            text-align: center;
            padding: .5rem 2rem;
            border-left: solid 6px $bg_panel;
            min-height: 3.2rem;
        }
    }
    
    &:hover {
        border-color: $color_border;
        transition: border-color .2s ease-in-out;

        .block-label {
            opacity: 1;
            transition: opacity .2s ease-in-out;
        }
        .block-buttons {
            opacity: 1;
            transition: opacity .2s ease-in-out;
        }
    }
}

.block-category {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    background: #ccc;
    padding: .5rem;    
}

.block-type {
    display: inline-block;
    width: 32%;
    margin-bottom: .5rem;    

    a {
        display: block;
        background: darken($bg_panel, 7%);
        color: $text_light;
        text-align: center;
        font-size: .75rem;
        padding: .75rem .5rem;
        border-radius: .25rem;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: darken($bg_panel, 14%);
            text-decoration: none;
            transition: background-color .2s ease-in-out;

            i {
                color: $text_light;
                transition: color .2s ease-in-out;
            }
        }

        i {
            display: block;
            color: $text_lighter;
            font-size: 1.5rem;
            height: 2rem;
            transition: color .2s ease-in-out;
        }
    }
}
