$bg: #fff;
$bg_navbar: #222;
$bg_navbar_hover: #2a2a2a;
$bg_panel: #f4f4f4;
$bg_sortable: #f2fbff;

$ico_navbar_group: #f0ad4e;
$ico_navbar_item: #999;

$color_border: #e4e4e4;
$color_link: #007eaa;
$color_success: #218838;
$color_link_hover: darken($color_link, 8%);
$color_sortable_border: #b6bcbf;

$text_medium: #333;
$text_light: #666;
$text_lighter: #999;