@import "colors";

form {
    margin-top: 1.5rem;

    input {
        &.title {
            border: solid 1px transparent;
            width: 100%;
            padding: 0 1rem;
            margin-bottom: 1rem;
            font-family: "Open Sans", sans-serif;
            font-size: 2.5rem;
        }

        &:hover {
            border: solid 1px $color_border;
        }
    }

    .panel {
        .form-group {
            margin-bottom: .5rem;

            label {
                color: $text_medium;
                font-size: .8rem;
                font-weight: bold;
                margin-bottom: .25rem;
            }

            .form-check {
                label {
                    font-weight: normal;
                }

                .form-check-input {
                    margin-top: .5rem;
                }
            }
        }
    }
}