<div class="panel panel-blocks">
    <span class="panel-title">Available Blocks</span>
    <div class="panel-body">
        <div class="panel-handle"><i class="fas fa-ellipsis-v"></i></div>
    </div>
</div>
