<div id="panel-media" class="panel panel-media">
    <a class="panel-close" href="#"><i class="fas fa-times"></i></a>
    <span class="panel-title">Media</span>
    <div class="panel-body">
        <div class="media-gallery">
            <media-item
                v-for="item in items"
                v-bind:media="item"
                v-bind:key="item.id">
            </media-item>
        </div>
    </div>
</div>
