@model Piranha.Areas.Manager.Models.ModuleListModel
@{
    ViewBag.Title = "Modules";
    ViewBag.Controller = "Module";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="#">System</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modules</li>
    </ol>
</nav>

@foreach (var author in Model.Modules.Keys) 
{
    var modules = Model.Modules[author];

    @for (var n = 0; n < modules.Count; n = n + 2)
    {
        <div class="row">
            <div class="col-md-6">
                @Html.DisplayFor(m => modules[n])
            </div>
            @if (n + 1 < modules.Count)
            {
                <div class="col-md-6">
                    @Html.DisplayFor(m => modules[n + 1])
                </div>
            }
        </div>
    }
}
