@import "colors";

.block-group-list {
    .sortable-placeholder {
        margin: .4rem 0;
        min-height: 2rem;
    }
}

.block-group {
    background: $bg_panel;
    padding: 2rem 1rem 1rem;
    margin-top: .5rem;
    position: relative;

    +.block-group {
        margin-top: 1rem;
    }

    &:hover {
        border-color: $bg_panel;
    }

    .block-label {
        opacity: 1;

        /*
        &.block-group-label {
            background: $color_link;
            color: #fff;
            padding: .25rem .75rem .25rem 2rem;
            left: -.75rem;
            top: -.25rem;

            &:before {
                content: "";
                width: 0;
                height: 0;
                border-bottom: solid .75rem transparent;
                border-right: solid .75rem darken($color_link, 8);
                position: absolute;
                left: 0;
                bottom: -.75rem;
            }
        }
        */
    }

    .block-group-header {
        border-bottom: solid 1px $color_border;
        padding-bottom: .5rem;
        margin-bottom: 1rem;
    }

    .block-buttons {
        .btn {
            border-color: $bg_panel;

            &:active {
                border-color: $bg_panel;
            }
        }
    }

    .block-group-list {
        border-right: solid 1px $color_border;

        .list-group {
            +.btn {
                margin-top: 1rem;
            }
    
            .list-group-item {
                background: transparent;
                border-color: $color_border;
                font-size: .875rem;
                padding-left: 2.5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .delete {
                    opacity: 0;
                    transition: opacity .1s ease-in-out;
                }

                .img-thumbnail {
                    width: 40px;
                    height: 40px;
                    margin-right: .5rem;
                }

                .sortable-handle {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2rem;
                    height: 100%;
                    text-align: center;
                    border-right: solid 1px $color_border;
                
                    span {
                        color: $text_light;        
                        position: absolute;
                        top: 50%;
                        margin-top: -.5rem;
                        font-size: 1rem;
                    }
                }
        
                &.active {
                    background: $color_border;
                    color: $text_medium;
                    font-weight: bold;

                    .sortable-handle {
                        border-color: $bg_panel;
                    }
                }
        
                &:hover {
                    .delete {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .group-editor {
        background: $bg;
        padding: 1.5rem 1.5rem;        
        border: solid 1px #e4e4e4;
        border-radius: .25rem;
    }

    .block-image {
        background: $bg;
        border: solid 1px $color_border;
        padding: .5rem;
        border-radius: .25rem;

        .block-image-filename {
            display: block;
        }
    }
}