@import "colors";

form {
    //margin-top: 1.5rem;

    input {
        &.title {
            border: solid 1px transparent;
            width: 100%;
            padding: 0 1rem;
            margin-bottom: 1rem;
            font-family: "Open Sans", sans-serif;
            font-size: 2.5rem;
        }

        &:hover {
            border: solid 1px $color_border;
        }
    }

    .form-control {
        border-color: $color_border;
    }

    .form-group {
        label {
            color: $text_medium;
            //font-size: .8rem;
            font-weight: bold;
            margin-bottom: .25rem;
        }

        blockquote {
            margin: .5rem 0 1rem;
            color: #999;
            font-weight: 300;
            border-left: solid 4px #ddd;
            padding: .25rem 1rem;
        }

        .form-check {
            label {
                font-weight: normal;
            }

            .form-check-input {
                margin-top: .5rem;
            }
        }

        .checkbox {
            label {
                font-weight: normal;
            }
        }
    }

    &.dropzone {
        background: $bg;
        padding: 3rem;
        margin: 0 0 1rem;
        border: dashed 2px $color_border;

        .dz-message {
            color: $text_lighter;
            text-align: center;
            font-family: "Open Sans";
            font-weight: 300;
            font-size: 1.2rem;

            i {
                margin-right: .5rem;
            }
        }
    }
}