@import "colors";

.main-nav
{
    position: fixed;
    background: $bg_navbar;
    left: 0;
    top: 0;
    width: 54px;
    height: 100%;
    border-right: solid 4px $bg_panel;
    opacity: 0.2;
    overflow: hidden;
    z-index: 1000;
    transition: all 0.2s ease-in-out;

    &:hover {
        width: 204px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }

    .logo {
        background: url("../img/logo-menu.png") no-repeat;
        background-size: contain;
        width: 190px;
        height: 36px;
        margin: .75rem .25rem;
    }

    ul {
        padding: 0;
        width: 200px;

        li {
            border-top: solid 1px lighten($bg_navbar, 10%);
            position: relative;

            &:last-child {
                border-bottom: solid 1px lighten($bg_navbar, 10%);
            }

            &.active::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                top: 50%;
                right: 0;
                margin-top: -8px;
                border: solid 8px transparent;
                border-right-color: $bg_panel;
            }

            a, span {
                display: block;
                padding: 0.5rem 1rem;
                text-decoration: none;
                transition: background-color .2s ease-in-out;

                &:hover {
                    background: $bg_navbar_hover;
                }
            }

            .header {
                color: $bg;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-weight: 300;

                &:hover {
                    color: $bg;
                }

                i {
                    color: $ico_navbar_group;
                }
            }

            a:hover {
                color: $color_link;
            }

            i {
                color: $ico_navbar_item;
                width: 18px;
                margin-right: 15px;
            }

            li {
                border-top: none;

                &:last-child {
                    a {
                        padding-bottom: .75rem;
                    }
                }
            }
        }
    }
}

.top-nav
{
    position: fixed;
    right: 1rem;
    top: 0;
    z-index: 66000;

    ul {
        background: rgba(255,255,255,0.6);
        display: block;
        padding: .5rem .5rem .5rem 0;
        margin-top: .5rem;
        float: right;
        border-radius: .25rem;

        li {
            float: left;
            margin-left: .5rem;
        }
    }
}