@import "colors";

.panel {
    background: $bg_panel;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    padding: .5rem 1rem;
    border-left: solid 4px $bg;
    z-index: 67000;
    transition: right .2s ease-in-out;

    &.active, &:hover {
        right: 0;
        transition: right .2s ease-in-out;
    }

    .panel-handle {
        background: $bg_panel;
        position: absolute;
        width: 24px;
        height: 80px;
        top: 100px;
        left: -40px;
        border: solid 4px $bg;
        border-right: 0;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;

        cursor: pointer;

        i {
            color: $text_medium;
            position: absolute;
            top: 50%;
            width: 24px;
            margin-top: -.5rem;
            text-align: center;
        }
    }

    .panel-title {
        display: block;
        padding: .25rem 0;
        font-weight: 300;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .panel-close {
        color: $text_medium;
        float: right;
        padding: .1rem .5rem .5rem;
        font-size: 1rem;
        transition: color .2s ease-in-out;

        &:hover {
            color: $color_link;
            transition: color .2s ease-in-out;
        }
    }

    .panel-body {
        padding-top: 1rem;
        position: relative;
    }

    .form-group {
        margin-bottom: .5rem;

        label {
            font-size: .8rem;
        }
    }

    &.panel-sm {
        width: 300px;
        right: -300px;

        &.active {
            right: 0;
        }
    }

    &.panel-md {
        width: 400px;
        right: -400px;

        &.active {
            right: 0;
        }
    }

    &.panel-lg {
        width: 600px;
        right: -600px;

        &.active {
            right: 0;
        }
    }

    &.panel-blocks {
        width: 300px;
        right: -287px;

        &.active, &:hover {
            right: 0;
        }

        .row {
            margin: 0 -5px;

            .col-sm-4 {
                padding: 0 5px;
            }
        }
    }

    &.panel-regions {
        width: 600px;
        right: -600px;

        &.active {
            right: 0;
        }
    }

    &.panel-media {
        width: 300px;
        right: -300px;

        &.active, &:hover {
            right: 0;
        }
    }

    &.panel-settings {
        width: 400px;
        right: -400px;

        &.active {
            right: 0;
        }
    }
}