@import "colors";

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Open Sans",Arial;
    font-weight: 300;
    margin: .6rem 0 1rem;    
}

a {
    color: $color_link;

    &:hover {
        color: $color_link_hover;
    }
}

.text-help {
    color: $text_lighter;
    font-size: .8rem;
    padding: .5rem 1rem;
    border-left: solid 4px lighten($color_link, 50%);
}

.tooltip-inner {
    font-size: .6rem;
    text-transform: uppercase;
}

.text-nooverflow {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}