@model Piranha.Manager.Models.RegionInfo

<div class="block region-preview">
    <div class="wrapper">
        <span class="block-label"><i class="fas fa-registered"></i>@Model.Title</span>
        <a class="btn-panel-region" data-id="#region-@Model.Id" href="#">
            @Html.DisplayFor(m => Model.Body, Model.Body.GetType().Name)
        </a>
    </div>
</div>
